SECRET_KEY=replace-with-a-long-random-value
POSTGRES_DB=oeb
POSTGRES_USER=oeb
POSTGRES_PASSWORD=replace-with-a-database-password
DOMAIN=:80
CORS_ORIGIN=http://localhost:8090
WEB_PORT=8090
WEB_HTTPS_PORT=443
DBU_SYNC_SECONDS=900
DBU_REQUEST_TIMEOUT=20
SESSION_COOKIE_SECURE=0
SESSION_DAYS=365
MOBILEPAY_DRIVE_REMOTE=gdrive:MobilePay-Upload
MOBILEPAY_DRIVE_SYNC_SECONDS=60
MOBILEPAY_INBOX_SCAN_SECONDS=30
MOBILEPAY_INBOX_SQUAD_ID=1
