<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/index.css') }}">
    <script src="{{ url_for('static', filename='javascript/registerServiceWorker.js') }}"></script>
    <link rel="manifest" crossorigin="use-credentials" href="/manifest.json/admin">
</head>
<body>

    <!-- Display error message if it exists -->
    {% if error %}
        <h1 style="color:red;">{{ error }}</h1>
    {% endif %}


    <!-- Opret Hold -->
    <h2>Vælg Hold</h2>
    <form action="/login/as_admin" method="POST">
        <label for="team_name">Hold Brugernavn:</label>
        <input type="text" id="team_name" name="team_name" required><br><br>

        <label for="password">Kodeord:</label>
        <input type="text" id="password" name="password" required><br><br>

        <button type="submit">Rediger Hold</button>
    </form>

    <!-- Opret Hold -->
    <h2>Opret Hold</h2>
    <form action="/create_team" method="POST">
        <label for="team_name">Hold Brugernavn:</label>
        <input type="text" id="team_name" name="team_name" required><br><br>
        
        <label for="club_name">Klub Navn (FRA DBU):</label>
        <input type="text" id="club_name" name="club_name" required><br><br>
        
        <label for="password">Kodeord:</label>
        <input type="text" id="password" name="password" required><br><br>

        <button type="submit">Opret Hold</button>
    </form>
   
</body>
</html>
