<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/edit_team.css') }}">
</head>
<body>
    <!-- Display error message if it exists -->
    {% if error %}
        <h1 style="color:red;">{{ error }}</h1>
    {% endif %}
    {% if success %}
        <h1 style="color:green;">{{ success }}</h1>
    {% endif %}

    <div class="container">
        <h1>Team Name: {{ edit_team_data.team.team_name }}</h1>
        
        <!-- CHANGE SEASON -->
        <div class="seasons">
            <h2>Season: {{edit_team_data.season.name}} </h2>
        
            <form action="/change_season" method="POST">
                <select name="season_id" onchange="this.form.submit()">
                    <option value="">Select Season</option>
                    {% for season in edit_team_data.seasonList %}
                        <option value="{{ season.id }}">{{ season.name }}</option>
                    {% else %}
                        <option>No seasons available</option>
                    {% endfor %}
                </select>
                <!-- Hidden submit button to support automatic form submission -->
                <noscript><input type="submit" value="Submit"></noscript>
            </form>
        </div>

        <!-- GENEREATE PLAYERS AND MATCHES -->
        <div class="forms-container">
            <!-- Players -->
            <div class="form-section">
                <form action="/add_player" method="POST">
                    <h3>Add a New Player</h3>
                    <input type="text" name="player_name" placeholder="DBU Name" required>
                    <input type="text" name="mobilepay_name" placeholder="MobilePay Name" required>
                    <input type="hidden" name="team_id" value="{{ edit_team_data.team.id }}">
                    <input type="hidden" name="season_id" value="{{ edit_team_data.season.id }}">
                    <input type="submit" value="Add Player">
                </form>
            </div>
            <!-- Matches -->
            <div class="form-section">
                <form action="/add_match" method="POST">
                    <h3>Add a New Match</h3>
                    <input type="text" name="match_url" placeholder="Match URL" required>
                    <input type="hidden" name="season_id" value="{{ edit_team_data.season.id }}">
                    <input type="submit" value="Add Match">
                </form>
            </div>
        </div>
        <!-- Display Players and Matches-->
        <div class="divider-container">
            <!-- Players -->
            <div class="divider">
                <h2>Players</h2>
                <table>
                    <thead>
                        <tr>
                            <th>DBU Name</th>
                            <th>MobilePay Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for player in edit_team_data.players %}
                            <tr>
                                <form action="/edit_player_name" method="POST" style="display:inline;">
                                <td><input type="text" name="dbu_name" value="{{ player.dbu_name }}"></td>
                                <td><input type="text" name="mobilepay_name" value="{{ player.mobilepay_name }}"></td>
                                <td>
                                    <input type="hidden" name="season_id" value="{{ edit_team_data.season.id }}">
                                    <input type="hidden" name="player_id" value="{{ player.id }}"> 
                                    <input type="submit" value="Edit">
                                </form>

                                <form action="/remove_player" method="POST" style="display:inline;">
                                    <input type="hidden" name="player_id" value="{{ player.id }}">
                                    <input type="hidden" name="season_id" value="{{ edit_team_data.season.id }}">
                                    <input type="submit" value="Remove">
                                </form>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="3">No players found.</td>
                            </tr>
                        {% endfor %}
                        
                        {% if suggested_player_list is defined and suggested_player_list %}
                            <tr>
                                <td colspan="3">Suggested players is listed below</td>
                            </tr>
                            <form action="/add_suggested_players" method="POST">
                                <input type="hidden" name="season_id" value="{{ edit_team_data.season.id }}">
                                <input type="hidden" name="team_id" value="{{ edit_team_data.team.id }}">

                            {% for suggested_player in suggested_player_list %}
                                <tr>
                                    <td>{{ suggested_player }}</td>
                                    <td>{{ suggested_player }}</td>
                                    <td>
                                        <input type="checkbox" name="player_name" value="{{ suggested_player }}">
                                    </td>
                                </tr>
                            {% else %}
                            <!-- nothing -->
                            {% endfor %}
                        <tr>
                            <td colspan="3">
                                <input type="submit" value="Add selected suggested players">
                            </td>
                            </form>
                        </tr>
                        {% endif %}
                            
                    </tbody>
                </table>
                <form action="/get_suggested_players_list" method="POST" style="display:inline;">
                    <input type="hidden" name="season_id" value="{{ edit_team_data.season.id }}">
                    <input type="submit" value="See suggested players">
                </form>
            </div>
            <!-- Matches -->
            <div class="divider">
                <h2>Matches</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Match_ID</th>
                            <th>Home</th>
                            <th>AWAY</th>
                            <th>Result</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for match in edit_team_data.matches %}
                        <tr>
                            <td><a href="https://www.dbu.dk/resultater/kamp/{{ match.match_url_id }}/kampinfo" target="_blank">{{ match.match_url_id }}</a></td>
                            {% if match.home_club %}
                            <td>{{ match.home_club if match.home_club is not none else '' }}</td>
                            <td>{{ match.away_club if match.away_club is not none else '' }}</td>
                            <td>
                                {{ match.home_scored if match.home_scored is not none else '' }} - 
                                {{ match.away_scored if match.away_scored is not none else '' }}
                            </td>
                            {% else %}
                            <td colspan="3">Match data not found, try update</td>
                            {% endif %}
                            <td><form action="/remove_match" method="POST" style="display:inline;">
                                <input type="hidden" name="match_id" value="{{ match.id }}">
                                <input type="hidden" name="season_id" value="{{ edit_team_data.season.id }}">
                                <input type="submit" value="Remove">
                            </form></td>
                        </tr>
                    {% else %}
                    <tr>
                        <td colspan="5">No matches found.</td>
                    </tr>
                    {% endfor %}
                    {% if suggested_matches is defined and suggested_matches %}
                        <tr>
                            <td colspan="5">Suggested matches is listed below</td>
                        </tr>
                        <form action="/add_suggested_matches" method="POST">
                        <input type="hidden" name="season_id" value="{{ edit_team_data.season.id }}">

                        {% for match in suggested_matches %}
                                <tr>
                                    <td><a href="https://www.dbu.dk/resultater/kamp/{{ match.match_url_id }}/kampinfo" target="_blank">{{ match.match_url_id }}</a></td>
                                    <td> {{match.home_club }}</td>
                                    <td> {{match.away_club }}</td>
                                    <td> </td>
                                    <td><input type="checkbox" name="match_url" value="{{ match.match_url_id }}"></td>
                                </tr>
                        {% else %}
                        <!-- nothing -->
                        {% endfor %}
                        <tr>
                            <td colspan="5"><input type="submit" value="Add selected suggested matches"></td>
                        </form>
                        
                        </tr>
                        
                    {% endif %}

                    </tbody>
                </table>
                <form action="/update_all_season_matches_information" method="POST" style="display:inline;">
                    <input type="hidden" name="season_id" value="{{ edit_team_data.season.id }}">
                    <input type="submit" value="Update matches">
                </form>
                <form action="/get_suggested_season_matches" method="POST"style="display:inline;">
                    <input type="hidden" name="season_id" value="{{ edit_team_data.season.id }}">
                    <input type="submit" value="Get suggested matches">
                </form>
            </div>
        </div>
        <!-- Form for Creating a New Season (unchanged) -->
        <form action="/create_season" method="POST">
            <h3>Create a New Season</h3>
            <input type="text" name="season_name" placeholder="Season Name" required>

            <input type="text" name="season_url" placeholder="Season DBU URL">

            <label for="season_start">Start Date:</label>
            <input type="date" name="season_start" id="season_start" required>

            <label for="season_end">End Date:</label>
            <input type="date" name="season_end" id="season_end">

            <input type="hidden" name="team_id" value="{{ edit_team_data.team.id }}">
            <button type="submit">Create Season</button>
        </form>
        <br>
        <form action="/edit_season" method="POST">
            <h3>Edit Season</h3>
            <h5>Start and End date er used for scoping mobilepay transactions. Therefore, ensure start date are before anyone sent any money for that season and end date is when everyhing is settled.</h5>
            <input type="text" name="season_name" value={{edit_team_data.season.name}} required>

            <label for="season_url">Season DBU URL:</label>
            <input type="text" name="season_url" value="{{edit_team_data.season.season_url}}">

            <label for="season_start">Start Date:</label>
            <input type="date" name="season_start" id="season_start" value={{edit_team_data.season.start_date}} required>

            <label for="season_end">End Date:</label>
            <input type="date" name="season_end" id="season_end" value={{edit_team_data.season.end_date}}>
            
            <input type="hidden" name="season_id" value="{{ edit_team_data.season.id }}">
            <button type="submit">Edit Season</button>
        </form>
    </div>
</body>
</html>
