<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/index.css') }}">
</head>
<body>
    <button onclick="window.location.href='/admin_index';">Admin</button>
    <h2>Vælg Hold</h2>
    <form action="/select_team" method="POST">
        <label for="team_username">Hold Brugernavn:</label>
        <input type="text" id="team_username" name="team_username" required><br><br>

        <button type="submit">Rediger Hold</button>
    </form>

   
</body>
</html>
