<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/team.css') }}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='styles/navbar.css') }}"> -->
    <script src="{{ url_for('static', filename='javascript/team.js') }}" defer></script>
    <!-- <script src="{{ url_for('static', filename='javascript/navbar.js') }}" defer></script> -->
    <script src="{{ url_for('static', filename='javascript/registerServiceWorker.js') }}"></script>
    <link rel="manifest" crossorigin="use-credentials" href="/manifest.json/{{ team_data.team.team_name }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>

</head>
<body>
    <!-- Display error message if it exists -->
    {% if error %}
        <h1 style="color:red;">{{ error }}</h1>
    {% endif %}
    {% if success %}
        <h1 style="color:green;">{{ success }}</h1>
    {% endif %}

    <div class="container">
        <h1>Hold Navn: {{ team_data.team.team_name }}</h1>
        
        {% if highlighted_player %}
            <div class="divider">
                <h2>{{highlighted_player.dbu_name}}</h2>

                <h3>Betalt til mobilepayboxen: {{highlighted_player.total_deposit}}</h3>
                <h3>Bøder i alt: {{highlighted_player.total_fines}}</h3>
                <h3 class="{% if highlighted_player.balance > 0 %}overpaid{% elif highlighted_player.balance == 0 %}perfectpaid{% else %}underpaid{% endif %}">
                    Balance: {{highlighted_player.balance}}
                </h3>     

                <h2>Bøder:</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Navn</th>
                            <th>Beskrivelse</th>
                            <th>Beløb</th>
                            <th>Dato</th>
                            {% if is_admin %}
                                <th>Slet</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for fine in highlighted_player.fine_list %}
                            <tr>
                                <td>{{ fine.name }}</td>
                                <td>{{ fine.description }}</td>
                                <td>{{ fine.amount }}</td>
                                <td>{{ fine.date}}</td>
                        
                                {% if is_admin %}
                                    <td>
                                        <form action="/delete_player_fine" method="POST" style="display:inline;">
                                            <input type="hidden" name="player_fine_id" value={{fine.player_fine_id}}>
                                            <input type="hidden" name="season_id" value="{{ team_data.season.id }}">
                                            <input type="hidden" name="player_id" value="{{ highlighted_player.id }}">
                                            <input type="hidden" name="is_admin" value="{{ is_admin }}">
                                            <input type="submit" value="x">
                                        </form>
                                    </td>
                                {% endif %}
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4">Du har ingen bøder endnu, tillykke</td>
                            </tr>
                        {% endfor %}
                    </tbody>
    
                </table>
            
                <h2>Betalinger:</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Navn</th>
                            <th>Besked</th>
                            <th>Beløb</th>
                            <th>Dato</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in highlighted_player.deposit_list %}
                            <tr>
                                <td>{{ row.name }}</td>
                                <td>{{ row.message }}</td>
                                <td>{{ row.amount }}</td>
                                <td>{{ row.date}}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4">Du har ikke indbetalt nogen penge endnu. Hvis du mener, at du har, så kontakt bødekasseformanden.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
    
                </table>

            </div>    
        {% endif %}

        <!-- ADMIN -->     
        {% if is_admin %}
        <div class="divider admin-section">
            <h2>Give fine to multiple players</h2>

            <form action="/give_fine_to_multiple_players" method="POST" class="give-fine-form">

                <!-- Fine dropdown (searchable) -->
                <label for="fine_dropdown">Vælg bøde:</label>
                <select name="fine_dropdown" class="fine_dropdown">
                    <option value="0|~ |~ |~0|~">Bøder</option>
                    {% for fine in team_data.fines %}
                        <option value="{{ fine.id }}|~{{ fine.name }}|~{{ fine.description }}|~{{ fine.amount }}">{{ fine.name }}</option>
                    {% endfor %}
                </select>

                <label for="fine_name">Navn:</label>
                <input type="text" class="fine_name" name="fine_name" placeholder="Name" required>

                <label for="fine_description">Beskrivelse:</label>
                <input type="text" class="fine_description" name="fine_description" placeholder="Description" required>

                <label for="fine_amount">Beløb:</label>
                <input type="number" class="fine_amount" name="fine_amount" value="0" required>

                <input type="hidden" class="fine_id" name="fine_id" value="0">

                <!-- Players select (searchable multi-select) -->
                <label for="player_ids">Vælg spillere:</label>
                <select name="player_ids[]" class="player_dropdown" multiple required>
                    {% for player in team_data.players %}
                        <option value="{{ player.id }}">{{ player.dbu_name }}</option>
                    {% endfor %}
                </select>

                <input type="hidden" name="season_id" value="{{ team_data.season.id }}">

                <input type="submit" value="Tilføj">
            </form>
        </div>
        {% endif %}


        {% if is_admin %}
            <div class="divider admin-section">
                <h2>Admin Rettigheder</h2>

                <form action="/render/edit_team" method="POST" style="display:inline;">
                    <input type="hidden" name="season_id" value="{{ team_data.season.id }}">
                    <input type="hidden" name="team_name" value="{{ team_data.team.team_name }}">
                    <input type="hidden" name="password" value="{{ team_data.team.password }}">
                    <input type="submit" value="Hold indstillinger">
                </form>
                <br><br>
                <form action="/add_mobilepay_transactions" method="POST" style="display:inline;" enctype="multipart/form-data">
                    <input type="file" name="mobilepay_transaction_file" accept=".xlsx" required>
                    <input type="hidden" name="season_id" value="{{ team_data.season.id }}">
                    <input type="submit" value="Tilføj valgte fil">
                </form>
                
            </div>
        {% endif %}

 

        <!-- Players -->        
        <div class="divider">
            <h2>Spillere</h2>

            <table>
                <thead>
                    <tr>
                        <th>Navn</th>
                        <th>Balance</th>
                        <th>Vasket</th>
                        <th>Bøder</th>
                        <th>Betalt</th>

                    </tr>
                </thead>
                <tbody>
                    {% for player in team_data.players %}
                        <tr>
                            <td>
                                <form action="/see_player_status" method="POST" style="display:inline;">
                                    <input type="hidden" name="player_id" value="{{ player.id }}">
                                    <input type="hidden" name="season_id" value="{{ team_data.season.id }}">
                                    {% if is_admin %}
                                        <input type="hidden" name="is_admin" value="{{ is_admin }}">
                                    {% endif %}
                                    <input type="submit" value="{{player.dbu_name}}">
                                </form>
                            </td>
                            <td id="player_balance" 
                                class="{% if player.balance > 0 %}overpaid{% elif player.balance == 0 %}perfectpaid{% else %}underpaid{% endif %}">
                                {{ player.balance }}
                            </td>
                            <td>{{player.number_of_clothes_washes}}</td>
                            
                            <td>{{ player.total_fines }}</td>
                            <td>{{ player.total_deposit }}</td>
                        
                            
                            
                            
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">Dette hold har ingen spillere</td>
                        </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
           
        <!-- Matches -->
        <div class="divider">
            <h2>Kampe</h2>
            <table>
                <thead>
                    <tr>
                        <th>Hjemme/Ude</th>
                        <th>Resultat</th>
                        <th>Beløb</th>
                        <th>Tøj Vasker</th>
                        {% if is_admin %}
                            <th>Ændre vasker</th>
                            <th>Opdater</th>                     
                        {% endif %}
                        <th>Match_ID</th>
                    </tr>
                </thead>
                <tbody>
                {% for match in team_data.matches %}
                    <tr>
                        {% if match.home_club %}
                            <td>
                                {% if match.home_club is not none and match.away_club is not none %}
                                    {{match.home_club}}
                                    <br>-<br>
                                    {{match.away_club}}
                                {% endif %}
                            </td>
                            <td>
                                {{ match.home_scored if match.home_scored is not none else '' }} - 
                                {{ match.away_scored if match.away_scored is not none else '' }}
                                
                            </td>
                            <td>{{match.fine_amount if match.fine_amount is not none else 0}}</td>

                        {% else %}
                            <td colspan="3">Kamp data ikke opdateret endnu, kontakt bødekasseformand for at opdatere
                            </td>
                        {% endif %}
                        <td>{{match.clothes_washer_name}}</td>
                        {% if is_admin %}
                            <td>
                                <form action="/change_clothes_washer" method="POST">
                                    <select name="player_id" onchange="this.form.submit()">
                                        <option value="">Vælg Tøjvasker</option>
                                        {% for player in team_data.players %}
                                            <option value="{{ player.id }}">{{ player.dbu_name }}</option>
                                        {% else %}
                                            <!-- nothing -->
                                        {% endfor %}
                                    </select>
                                    <input type="hidden" name="match_id" value="{{ match.id }}">
                                    <input type="hidden" name="season_id" value="{{ team_data.season.id }}">
                                    <!-- Hidden submit button to support automatic form submission -->
                                    <noscript><input type="submit" value="Submit"></noscript>
                                </form>
                            </td>    

                            <td>
                                <form action="/update_match_information" method="POST" style="display:inline;">
                                    <input type="hidden" name="season_id" value="{{ team_data.season.id }}">
                                    <input type="hidden" name="match_id" value="{{ match.id }}">
                                    <input type="submit" value="Opdater">
                                </form>
                          </td>
                        {% endif %}
                        {% if match.match_url_id %}
                            <td><a href="https://www.dbu.dk/resultater/kamp/{{ match.match_url_id }}/kampinfo" target="_blank">{{ match.match_url_id }}</a></td>
                        {% else %}
                            <td>IKKE DBU</td>
                        {% endif %}
                    </tr>
                {% else %}
                <tr>
                    <td colspan="6">Der er ikke tilføjet nogle kampe til dette hold endnu</td>
                </tr>
                {% endfor %}
            
                </tbody>
            </table>
            {% if is_admin %}
                <form action="/update_all_season_matches_information/user" method="POST" style="display:inline;">
                    <input type="hidden" name="season_id" value="{{ team_data.season.id }}">
                    <input type="submit" value="Opdater alle">
                </form>
            {% endif %}
        </div>


        <!-- Fines -->
        <div class="divider">
            <h2>Bøder</h2>
            <table>
                <thead>
                    <tr>
                        <th>Navn</th>
                        <th>Beskrivelse</th>
                        <th>Pris</th>
                    </tr>
                </thead>
                <tbody>
                    {% for fine in team_data.fines %}
                        <tr>
                                <td>{{ fine.name }}</td>
                                <td>{{ fine.description }}</td>
                                <td>{{ fine.amount }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">Dette hold har ingen defineret bøder</td>
                        </tr>
                    {% endfor %}
                                            
                </tbody>
            </table>
        </div>

        <div class="divider">
            <h2>Regler</h2>
            <textarea readonly>{{ team_data.team.introduction_text }}</textarea>
        </div>

        <div class="divider">
            <h2>Udgifter</h2>
            <table>
                <thead>
                    <tr>
                        <th>Modtager</th>
                        <th>Bedsked</th>
                        <th>Beløb</th>
                        <th>Dato</th>
                    </tr>
                </thead>
                <tbody>
                    {% for expens in team_data.expenses %}
                        <tr>
                                <td>{{ expens.name }}</td>
                                <td>{{ expens.message }}</td>
                                <td>{{ expens.amount }}</td>
                                <td>{{ expens.date }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">Dette hold har ingen udgifter</td>
                        </tr>
                    {% endfor %}
                                            
                </tbody>
            </table>
        </div>

        <!-- Season -->
        <div class="divider">
            <!-- CHANGE SEASON -->
            <div class="seasons">
                <h2>Sæson: {{team_data.season.name}} </h2>
            
                <form action="/change_team_user_season" method="POST">
                    <select name="season_id" onchange="this.form.submit()">
                        <option value="">Vælg Sæson</option>
                        {% for season in team_data.seasonList %}
                            <option value="{{ season.id }}">{{ season.name }}</option>
                        {% else %}
                            <option>Ingen sæsoner tilgængelige</option>
                        {% endfor %}
                    </select>
                    {% if is_admin %}
                        <input type="hidden" name="is_admin" value="{{is_admin}}">
                    {% endif %}
                    <!-- Hidden submit button to support automatic form submission -->
                    <noscript><input type="submit" value="Submit"></noscript>
                </form>
            </div>
        {% if is_admin %}
        </div class="divider">
            <h2>Copy and Paste to Messenger</h2>
            <span>Bødekasse: 1783QN</span><br>
            <span>Betal med det samme tak :))</span><br>
            <span>Se detaljer på:</span><br>
            <span>https://bajerbold.beer/øb</span><br>
            {% for player in team_data.players %}
                {% if player.balance < 0 %}
                    <span>{{ player.dbu_name }} | {{ player.balance }}</span>
                    {% if player.balance < -200 %}
                        😡
                    {% endif %}
                    <br>
                {% endif %}
            {% endfor %}

        <div>
        {% endif %}

        </div>

    </div>
</body>
</html>
